<section class="register-page">
  <div class="login-box">
    <h1>Nouveau compte</h1>

    <form>
      <label for="email">Adresse Mail</label>
      <input type="email" id="email" placeholder="Adresse mail">

      <label for="password">Nouveau mot de passe</label>
      <input type="password" id="password" placeholder="Mot de passe">

      <br>

      <label for="password">Confirmer votre mot de passe</label>
      <input type="password" id="password" placeholder="Mot de passe">

      <button type="submit">Se connecter</button>
    </form>

  </div>
</section>
